* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}

.container {
    background-color: rgb(153, 165, 180);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}

.signup-box {
    display: flex;
    background-color: white;
    position: relative;
    margin: 65px auto 25px;
    border-radius: 15px;
    height: 80%;
    width: 70%;
}

.left {
    background-color: rgb(237, 239, 241);
    margin: 15px;
    justify-self: center;
    /* padding: 10px; */
    height: 95%;
    width: 50%;
    border-radius: 15px;
}
.dia {
    background-color: blue;
    border-radius: 5px;
    margin-top: 8%;
    margin-left: 8%;
    padding-top: 5px;
    padding-left: 6px;
    height: 15px;
    width: 14px;
    border: none;
    color: white;
    
}
.comment-box{
    margin: 14% auto 16%;
    background-color: rgba(29, 25, 53, 0.847);
    height: 30%;
    width: 85%;
    border-radius: 15px;
    
}
.comment-box-comment{
    padding-top: 30px;
    color: white;
}
h1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /* font-weight: bold(700); */
    
}
.left p{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    /* color: gray; */
}
img{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    float: left;
    
    /* display: inline-block; */
}
.details h1{
     margin-top: 5%; 
     /* margin-left: 30px; */
}
.details p{
    margin-left: 15px;
}
.input-group{
    position: absolute;
    top: 180px;
    width: 40%;
    margin-left: 30px;
}
label{
    margin-left: 25px;
    color: grey;
}
.input-field{
    padding: 13px;
    width: 85%;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 20px;
}
small{
    color: grey;
}
button{
    background-color: blue;
    padding: 15px;
    width: 91%;
    margin-top: 10px;
    margin-left: 25px;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* margin-bottom: 15px; */
}
.login{
    margin-top: 35px;
   padding-left: 33%;
}