.flexContainer {

    background-color: green;
    width: 100%;
    overflow-x: scroll;
}
.vv{
    display: flex;
    
}
.bdy {
    width: 100%;
    background-color: yellow;
}

.flex-left {

    width: 1000px;
}

.flex-center {
    background-color: #ababab;
    width: 1500px;
}

.flex-right {
    background-color: lightblue;
    width: 2000px;
}